/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
header {
    height: 6.6vh;
    background:black;
}
.white-background{
    height: 80vh;
}
.solid-box{
    border: 5px solid black;
    height: 19.5vh;
    margin: 0 5vw;
    margin-top: 2.4vh;
}
.purple-rect {
    background: rgb(168, 42, 199);
    display:inline-block;
    height:120px;
    width:40px;
    margin-left:15px;
    margin-bottom:10px;
}
.green-square {
    background: rgb(63, 148, 77);
    display:inline-block;
    height:160px;
    width:360px;
    margin: 10px 50px 10px 45px;
}
.blue-circle{
    background: rgb(113, 202, 243);
    display:inline-block;
    height:160px;
    width:160px;
    border-radius:50%;
    margin-bottom:10px;
}
.dotted-box{
    border: 5px dotted black;
    height: 26.5vh;
    margin: 0 5vw;
    margin-top: 2.4vh;
}
.yellow-box{
    background: rgba(247, 247, 176, 0.541);
    margin: 35px 25px;
    height:70%;
    width:92%;
    box-shadow: 8px 8px 3px rgb(61, 61, 61);
}
.friend-box{
    border: 1px solid black;
    height: 33vh;
    margin: 0 28vw 2vw 28vw;
    margin-top: 2.4vh; 
    box-shadow: 3px 2px 8px lightgrey;
}
footer{
    height: 6.6vh;
    background:black;
}
div p {
    margin-top: 24%;
    text-align: center;
    color: navy;
    letter-spacing: 10px;
    font-size: 28px;
    font-weight: bold;
}